body {
    background-color: rgb(236, 238, 241);
    color: rgb(76, 76, 76);
    font-family: 'AvenirNext', Avenir, sans-serif;
    margin: auto;
}

.container1 {
    background-color: rgb(236, 238, 241);
    height: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 350px;
}

.container2 {
    background-color: white;
    border-radius: 5px;
    border-color: rgb(87, 87, 87);
    border-width: 0.5px;
    border-style: solid;
    margin: auto;
    padding-top: 10px;
    width: 350px;

}

li {
    display: inline;
}

.logo_main {
    filter: grayscale(5);
    height: 35px;
    opacity: 0.7;
    padding: 20px;
    margin: auto;
    max-width: 100px;
    text-align: center;
    width: 118px;
}

.form {
    margin: auto;
}

.navbar {

    height: 20px;
    width: 100vw;
}

.signin {
    background-color: rgb(0, 119, 197);
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
    height: 40px;
    color: white;
    float: right;
    font-size: 15px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 0px;
    width: 100px;
}

.signin:hover {
    background-color: rebeccapurple;
}

#have_account {
    display: inline;
    font-size: 12px;
    float: right;
    text-align: right;
}

#other_logos {
    align-items: center;
    display: flex;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: center;

}

.text_btn {
    background-color: rgb(236, 238, 241);
    font-size: 15px;

}

button {
    border-style: hidden;
    color: gray;
    font-size: 8px;
    font-family: 'AvenirNext', Avenir;
    font-weight: lighter;
    padding-left: 3px;
}

.small_logo {
    display: flex;
    width: 200px;

}

p {
    font-size: 12px;
}

a {
    text-decoration: none;
}

#phone_msg {
    font-size: 9px;
}

.button {
    background-color: rgb(0, 119, 197);
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
    color: floralwhite;
    font-size: 15px;
    height: 44px;
    margin-top: 20px;
    padding-left: 5px;
    width: 320px;
}

.footer {
    margin-top: 20px;
    width: 100vw;
}

footer>p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;

}

.capcha {
    background-color: rgb(236, 238, 241);
    height: 50px;
    margin-top: 40px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.capcha>p {
    color: rgb(76, 76, 76);
    font-size: 10px;
}

.our_terms>p {
    color: rgb(76, 76, 76);
    text-align: center;
}

input {

    border-color: rgb(236, 238, 241);
    border-radius: 5px;
    border-style: solid;
    font-size: 15px;
    height: 34px;
    margin-top: 5px;
    padding-left: 5px;
    width: 310px;
}

.form_input {
    padding-top: 15px;
}

.form_main {
    padding-left: 15px;
}

.login_title {
    color: rgb(145, 145, 145);
    text-align: center;
}

label {
    font-weight: 300;
    font-size: smaller;
}

h2 {
    font-weight: 100;
}

#agree {

    color: rgb(145, 145, 145);
    font-style: italic;
    margin-top: 30px;
}